.slide1 {
  background-size: cover;
  background: linear-gradient(#666, transparent 5%), linear-gradient(0deg, #222, transparent), #fff url('image/course_1.jpg') no-repeat center;
}

body, a {
  color: rgb(152, 65, 5);
}

footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

body, html {
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(162, 126, 104), rgb(226, 156, 20));
}

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

btn {
  font-weight: 700;
  height: 36px;
  user-select: none;
  cursor: default;
}

.card {
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.btn.btn-signin {
  background-color: rgb(104, 145, 162);
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  border-radius: 3px;
  border: none;
  transition: all 0.218s;
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.textoborde {
  font-size:25px;
    -webkit-text-fill-color: white;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.5px;
  }
